name: README build

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 */3 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current repository to Main branch
        uses: actions/checkout@v4
      - name: Setup NodeJs 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Fetch data, generate README and update Twitter
        run: node index.js
        env:
          APP_API_KEY: ${{ secrets.APP_API_KEY }}
          APP_API_KEY_SECRET: ${{ secrets.APP_API_KEY_SECRET }}
          USER_BEARER_TOKEN: ${{ secrets.USER_BEARER_TOKEN }}
          USER_ACCESS_TOKEN: ${{ secrets.USER_ACCESS_TOKEN }}
          USER_ACCESS_TOKEN_SECRET: ${{ secrets.USER_ACCESS_TOKEN_SECRET }}
      - name: Commit and Push new README.md to the repository
        uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: "main"
